 *{
    Background-color: #170529;
    color:#f0bf8e;
    font-family: Arial;
    font-weight: 500;
    font-stretch: 25;
    font-variant:initial;
    outline-color: #8ef0bf;
    outline-width: 53;
}

button {
    color:#f0bf8e;
    background-color:#100516;
    outline: #8ef0bf;
    font-family: Arial;
    font-size: 12px;
}

h2 {
    color:#f0bf8e;
    font-family: arial;
}

h3 {
    color: #f0bf8e;
    font-family: arial;
    font-size:12
}

p {
    color: #f0bf8e;
    font-family: Arial;
}



















