* {
    Background-color: #170529;
    color:#f0bf8e;
    font-family: Arial
}

button {
    color:#f0bf8e;
    background-color:#170529;
    outline: #8ef0bf;
    font-family: Arial;
    font-size: 12px;
}

h2 {
    color:#8ef0bf;
    font-family: arial;
}

h3 {
    color: #f0bf8e;
    font-family: arial;
    font-size:12
}

p {
    color: #8ef0bf;
    font-family: Arial;
}






